.place__link{
    max-width: 456px;
    min-height: 22px;
    left: 648px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
    }